.topo {
    background-color: aqua;
    text-align: center;
}

div.galeria {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.galeria:hover {
    border: 1px solid #777;
}

div.galeria img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.padraoImgMaior {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 500px;
    height: 250px;
    border-style: solid;
    border-bottom-width: 5px;
    border-color: rgb(165, 14, 14);
}

.flex-container {
    display: flex;
    justify-content: center;
}

