div{
    width: 50%;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-radius: 12px;
    padding: 5px;
    box-shadow: 10px 10px lightblue;
}

p{
    text-align: center;
    text-shadow:2px 2px 5px red;
}