body{
    margin: 0;
}

.topo{
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

#darkMode{
    text-align: right;
    background-color: #f1f1f1;
    padding: 0px;
}

.preparo{
   border-style: outset;
   border-width: 5px 20px;
}

.descricao{
    text-align: inherit;
}

.ingredientes{
    background-color: #f1f1f1;
    padding: 20px;
}

table, th, td {
    border: 1px solid;
  }

  .destaque{
    background-color: #f1f1f1;
    padding: 10px;
    color: red;
  }

  .lista{
    border-style: outset;
    border-bottom: 1px;
  }