body {
    background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTEyL3Jhd3BpeGVsb2ZmaWNlMjBfYmFja2dyb3VuZF9pbGx1c3RyYXRpb25fb2ZfYV9mYWxsX3Bhc3RlbF9iYWNrZ19hMGM1YzU4MC1kODBhLTQ0ZjEtYjhjNy1jNWI4Y2E0NzMxNTRfMS5qcGc.jpg);
    background-color: #fff;
    color: #000;
    background-size: 100%;
}